/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&family=Raleway:wght@300;400;500;600&display=swap');
/*global css*/
:root{
    /*global color*/
    --primary-color:#fff;
    --secondary-color:#5e5e5e;
    --text-color:#124265;
    --header-color:#FBBC05;
    --accent-color:#EE257D;
    --black-color:#000000;
    /*global font*/
    --primary-font:'Poppins', sans-serif;;
    --secondary-font:'Raleway', sans-serif;;
}
body p{
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
h1 h2 h3 h4 h5 h6{
    font-family:var(--secondary-font) ;
    
}
/* Header  */
a.nav-link {
    color: var(--primary-color)!important;
}
a.nav-link:hover{
    color:var(--header-color)!important;
}
button.header-btn {
    padding: 7px 19px;
    border: 2px solid var(--header-color);
    border-radius: 23px;
}
button.header-btn:hover{
    background:  var(--header-color);
    color:var(--accent-color);
    border:none;
}
a.navbar-brand {
    color:var(--header-color)!important;
}
section#header {
   background: var(--text-color);
}
.fixed-top {
    z-index: 99999;
}
/* Hero-section  */
section#Hero-section {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.hero-inner h1{
    color:gold;
}
.hero-inner p{
    color: var(--primary-color);
}
button.read-btn {
    border: none;
    background: var(--accent-color);
}
/* menu  */
.menu_inner {
    border: none;
    box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%);
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;
}
.menu_inner p{
    font-size: 14px;
    color: var(--secondary-color);
}
/* section#menu h3 h4 {
   color: var(--text-color)!important;
} */
/* about  */
ul li{
    list-style: none;
}
ul{
    padding-left: 0!important;
}
/* Menu-card  */
.menu-card-inner img {
    width: 13%;
    border-radius: 63%;
}
.menu-card-inner h6{
    color:var(--text-color);
}
.title h2 {
    padding-left: 31%;
}
/* owner */
img.slide {
    width: 20%;
    border-radius: 70%;
    margin: 10% 26% 3% 25%;
}
div#carouselExampleControls {
    background-color:var(--accent-color);
    border-radius: 5%;
}
.carousel-item p{
    color: var(--primary-color); 
}
/* chefs-section  */
.card img {
    width: 49%;
    border-radius: 28%;
    margin: 14% 26%  3%  26%;
}
.card-body h5{
    color:var(--text-color);
}
.card-body p {
    font-size: 15px;
}
.social.icon i {
    background-color: #1e4356!important;
    color: white!important;
    margin: 5% 0px 63% 179%;
}
.social a i:hover{
    background-color:var(--primary-color)!important;
    color: var(--text-color)!important;
}
.card{
    background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: .25rem;
}
.card:hover{
    margin-top:-15px;
    transition: .04s all;
}
/* food-quality  */
.food-title{
    color:var(--accent-color);
}
i.skill {
    float: right;
  }
  .progress_inner {
    color: var(--accent-color);
    font-size: 13px;
    font-weight: 700;
  }
  .progress_bar {
    background-color:var(--text-color);
  }

  .title h2{
      color: var(--text-color);
  }
/* online-contact  */
.order-form{
    background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: .25rem;
}
.order_title{
    color:var(--text-color);
}
button.last-button {
    margin-left: 37%;
    padding: 8px 23px;
    border: none;
    color:var(--black-color);
    background: var(--header-color);
    border-radius: 20px;
}
button.last-button:hover{
    background: var(--accent-color);
}
section#Footer {
    background: var(--header-color);
}
.Footer_inner p{
    color:var(--black-color);
}